body{
    margin: 0;
    padding: 0;
}
.head{
    background-color: rgb(221, 181, 106);
    padding: 10px;
}

.buscador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(236, 217, 188);
}

.searchSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#toFind{
    width: 400px;
    height: 20px;
    margin: 20px;
}
.sent{
    width: 250px;
    height: 25px;
    background-color: rgb(236, 83, 28);
}